:host ::ng-deep {
    .password-container {
        position: relative;
    }

    .password-toggle {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #aaaaaa;

        i {
            font-size: 16px;
        }
    }
}
