<div class="cps-smember-homepage">
    <div class="cps-smember-homepage-desktop">
        <div class="block-smeminfo-sliding">
            <div class="block-welcomeDesktop">
                <div class="welcome-avatarDesktop"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-icon">
                </div>
                <div class="welcome-smemberDesktop">
                    <p class="welcome-smember__contentDesktop">Xin chào</p>
                    <p class="welcome-smember__2nd-contentDesktop">06. Đỗ Đình Diệm</p>
                    <div class="block-smember-info__box-content">
                        <div class="item-contentWelcome">
                            <p>Ngày tham gia</p>
                            <div data-v-5170e23d="" class="cps-icon" style="align-items: center;">
                                <img src="assets/Profile/dateTime.svg" alt="">
                            </div>
                            <p class="join-date">31/3/2022 </p>
                        </div>
                        <div class="item-contentWelcome">
                            <p>Hạng thành viên</p>
                            <div data-v-5170e23d="" class="cps-icon">
                                <img src="assets/Profile/rankMember.svg" alt="">
                            </div>
                            <p class="smem-rank">SNull</p>
                        </div>
                        <div class="item-contentWelcome">
                            <p>Tài khoản</p>
                            <div data-v-5170e23d="" class="cps-icon">
                                <img src="assets/Profile/price.svg" alt="">
                            </div>
                            <p class="scoin-amount">0đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!---->

        <div class="block-smember__box-content">
            <div class="item-content gift">
                <div class="item-content__box-icon gift"><img src="assets/Profile/promotion.png" alt="cps-item"
                        class="img"></div>
                <p class="item-content__title">Ưu đãi của bạn</p>
                <p class="item-content__counter"> 0 ưu đãi</p> <a href="/smember/promotion"
                    class="item-content__detail button__promotion">Xem chi tiết</a>
            </div>
            <div class="item-content order">
                <div class="item-content__box-icon order"><img
                        src="https://cdn2.cellphones.com.vn/x,webp,q100/media/wysiwyg/Shipper2.png" alt="cps-item"
                        class="img"></div>
                <p class="item-content__title">Đơn hàng của bạn</p>
                <p class="item-content__counter"> 1 đơn hàng</p> <a href="/smember/order"
                    class="item-content__detail button__history">Xem chi tiết</a>
            </div>
            <div class="item-content rank">
                <div class="item-content__box-icon rank"><img src="assets/Profile/accountMember.svg" alt="cps-item"
                        class="img" style="height: 42px;"></div>
                <p class="item-content__title">Hạng thành viên</p>
                <p class="item-content__counter"> Bạn đang là <span>SNull</span></p> <a href="/smember/rank"
                    class="item-content__detail button__rank">Xem chi tiết</a>
            </div>
        </div>
        <div class="HotSale">
            <div
                style="border-radius: 16px; overflow: hidden; background: url(&quot;https://cdn2.cellphones.com.vn/x/media/wysiwyg/fs-bg.png&quot;) 0% 0% / cover no-repeat; margin-bottom: 10px;">
                <!----> <!---->
                <div class="block-hot-sale"
                    style="background: url(&quot;https://cdn2.cellphones.com.vn/x/media/catalog/product/b/g/bg_new.png&quot;) 0% 0% / cover no-repeat; display: none;">
                    <div class="box-title">
                        <div class="box-tab-menu">
                            <p class="box-tab-item button__select-tab active"
                                style="background-color: rgb(229, 148, 65);">
                                Điện thoại,TV</p>
                            <p class="box-tab-item button__select-tab" style="color: rgb(229, 148, 65);">
                                Laptop,IT</p>
                            <p class="box-tab-item button__select-tab" style="color: rgb(229, 148, 65);">
                                Phụ kiện</p>
                        </div>
                        <div data-v-5170e23d="" class="title-image">
                            <div style="text-align: center;"><img
                                    src="https://cdn2.cellphones.com.vn/x/media/catalog/product/h/s/hs-cuoi-tuan-tet-text.png"
                                    alt="title"></div>
                        </div>
                        <div class="box-countdown">
                            <p class="title" style="color: rgb(229, 148, 65);">Bắt đầu sau: </p>
                            <ul class="box-time">
                                <li style="color: rgb(229, 148, 65);">
                                    <p class="time" style="color: rgb(229, 148, 65);">00</p>
                                    <p class="separate">:</p>
                                </li>
                                <li style="color: rgb(229, 148, 65);">
                                    <p class="time" style="color: rgb(229, 148, 65);">04</p>
                                    <p class="separate">:</p>
                                </li>
                                <li style="color: rgb(229, 148, 65);">
                                    <p class="time" style="color: rgb(229, 148, 65);">15</p>
                                    <p class="separate">:</p>
                                </li>
                                <li style="color: rgb(229, 148, 65);">
                                    <p class="time" style="color: rgb(229, 148, 65);">17</p>
                                    <p class="separate" style="margin: unset;"></p>
                                </li>
                            </ul>
                        </div>
                    </div> <!---->
                    <div class="box-content">
                        <div class="product-list-swiper" ud="flashsale_samsung" custom-box-promo-price="[object Object]"
                            is-hide-promotion="true" show-sticker="true" is-hide-price="[object Object]"
                            replace-price="">
                            <div class="swiper-container p-2 swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transition-duration: 300ms;"><!---->

                                </div>
                                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"
                                    aria-disabled="false"></div>
                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                                    aria-disabled="false"></div><span class="swiper-notification" aria-live="assertive"
                                    aria-atomic="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>