<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <form class="d-flex">
                    <div class="input-group">
                        <input type="text" [ngModel]="formatCurrentDate()" (ngModelChange)="currentDate=$event"
                            name="currentDate" class="form-control form-control-light" id="dash-daterange" readonly />
                        <span class="input-group-text bg-primary border-primary text-white">
                            <i class="mdi mdi-calendar-range font-13"></i>
                        </span>
                    </div>
                </form>
            </div>
            <h4 class="page-title">Trang chủ</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xl-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-cart-plus widget-icon"></i>
                </div>
                <div class="row align-items-center">
                    <h5 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Đơn hàng</h5>
                    <h3 class="my-2 py-1">{{countDonHang}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-currency-usd-circle widget-icon"></i>
                </div>
                <div class="row align-items-center">
                    <h5 class="text-muted fw-normal mt-0 text-truncate" title="New Leads">Doanh thu</h5>
                    <h3 class="my-2 py-1">{{countDoanhThu | number}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-account-multiple widget-icon"></i>
                </div>
                <div class="row align-items-center">
                    <h5 class="text-muted fw-normal mt-0 text-truncate" title="Deals">Khách hàng</h5>
                    <h3 class="my-2 py-1">{{countKhachHang}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-clipboard-pulse widget-icon"></i>
                </div>
                <div class="row align-items-center">
                    <h5 class="text-muted fw-normal mt-0 text-truncate" title="Booked Revenue">Sản phẩm</h5>
                    <h3 class="my-2 py-1">{{countSanPham}}</h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-clipboard-pulse widget-icon"></i>
                </div>
                <div class="row align-items-center">
                    <h5 class="text-muted fw-normal mt-0 text-truncate" title="Booked Revenue">Tin tức</h5>
                    <h3 class="my-2 py-1">{{countTinTuc}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-3">
        <div class="card widget-flat">
            <div class="card-body">
                <div class="float-end">
                    <i class="mdi mdi-account-multiple widget-icon"></i>
                </div>
                <div class="row align-items-center">
                    <h5 class="text-muted fw-normal mt-0 text-truncate" title="Deals">Nhân viên</h5>
                    <h3 class="my-2 py-1">{{countNhanVien}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-body" style="height: 612px;">
                <h4 class="header-title mt-2 mb-3">Sản phẩm bán chạy</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-hover mb-0">
                        <tbody>
                            <tr *ngFor="let item of sanPham">
                                <td style="width: 220px;">
                                    <h5 class="font-14 my-1 fw-normal">
                                        {{item.tenSanPham}}
                                    </h5>
                                </td>
                                <td class="text-center">
                                    <h5 class="font-14 my-1 fw-normal">{{item.total }}</h5>
                                    <span class="text-muted font-13">Số lượng</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">THỐNG KÊ TUẦN HIỆN TẠI</h4>

                <div class="chart-content-bg mb-2">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <p class="text-muted mb-0 mt-3">Tuần này</p>
                            <h2 class="fw-normal mb-3">
                                <span>{{tuanNow | number}}</span>
                            </h2>
                        </div>
                        <div class="col-md-6">
                            <p class="text-muted mb-0 mt-3">Tuần trước</p>
                            <h2 class="fw-normal mb-3">
                                <span>{{tuanLast | number}}</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <p-chart type="bar" [data]="dataWeed" [options]="optionsWeed"></p-chart>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                    <div class="input-group">
                        <select class="form-control" [(ngModel)]="selectedYear">
                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text bg-primary border-primary text-white">
                                <i class="mdi mdi-calendar-range font-13"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <h4 class="header-title mb-3">Thống kê các tháng trong năm</h4>

                <div class="chart-content-bg mb-2">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <p class="text-muted mb-0 mt-3">Doanh thu năm hiện tại</p>
                            <h2 class="fw-normal mb-3">
                                <span>{{tongNamNow | number}}</span>
                            </h2>
                        </div>
                        <div class="col-md-6">
                            <p class="text-muted mb-0 mt-3">Doanh thu năm trước</p>
                            <h2 class="fw-normal mb-3">
                                <span>{{tongNamLast | number}}</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <p-chart type="line" [data]="data" [options]="options"></p-chart>
            </div>
        </div>
    </div>
</div>