<div class="wrapper">
    <app-menu></app-menu>

    <div class="content-page">
        <div class="content">
            <div class="navbar-custom">
                <app-header></app-header>
            </div>
            <!-- end Topbar -->

            <!-- Start Content-->
            <div class="container-fluid">
                <!-- start page title -->
                <router-outlet></router-outlet>

                <!-- end row -->
            </div>
            <!-- container -->
        </div>
        <!-- content -->

        <!-- Footer Start -->
        <app-footer></app-footer>
        <!-- end Footer -->
    </div>
</div>