<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a routerLink="/">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <button type="button" (click)="showDialog()" class="btn btn-primary me-2"><i
                                class="mdi mdi-plus-circle me-2"></i>Thêm</button>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                            <button type="button" (click)="exportToExcel()" class="btn btn-light mb-2">Xuất
                                Excel</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div>

                <div class="table-responsive">
                    <div id="products-datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="products-datatable_length">
                                    <label class="form-label">Hiển thị
                                        <select class="form-select form-select-sm ms-1 me-1"
                                            (change)="onPageSizeChange()" [(ngModel)]="selectedPageSize">
                                            <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="products-datatable_filter" class="dataTables_filter"><label>Tìm kiếm:
                                        <input type="search" class="form-control form-control-sm" placeholder="Tìm..."
                                            [(ngModel)]="key" (input)="onKeywordInput()"></label></div>
                            </div>
                        </div>
                        <div class="mb-1"></div>
                        <div *ngIf="showSkeleton">
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                        </div>
                        <table *ngIf="!showSkeleton" class="table table-centered w-100 dt-responsive nowrap"
                            id="products-datatable">

                            <thead class="table-light">
                                <tr>
                                    <th class="text-center">Ảnh</th>
                                    <th class="text-center">Sản phẩm</th>
                                    <th class="text-center">Giá bán</th>
                                    <th class="text-center" style="min-width: 110px;">Khuyến mại</th>
                                    <th class="text-center" style="min-width: 90px;">Số lượng</th>
                                    <th class="text-center" style="min-width: 95px;">Bảo hành</th>
                                    <th class="text-center">Mô tả</th>
                                    <th class="text-center" style="min-width: 82px;">Loại SP</th>
                                    <th class="text-center" style="min-width: 90px;">Hãng SP</th>
                                    <th class="text-center" style="min-width: 100px;">Trạng thái</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of sanphamList?.items">
                                    <td class="text-center">
                                        <img style="box-shadow: 5px 5px 10px 0px #888888;
                                        border-radius: 5px; height: 60px"
                                            src="{{baseUrl}}Uploads/Products/{{item.anhSanPham}}" alt="">
                                    </td>
                                    <td class="text-center">
                                        {{item.tenSanPham}}
                                    </td>
                                    <td class="text-center">
                                        {{item.giaBan | number}}
                                    </td>
                                    <td class="text-center">
                                        {{item.giamGia | number}}
                                    </td>
                                    <td class="text-center">
                                        {{item.soLuongTon}}
                                    </td>
                                    <td class="text-center">
                                        {{item.baoHang}}
                                    </td>
                                    <td class="text-center">
                                        {{item.moTa | slice:0:120}}
                                    </td>
                                    <td class="text-center">
                                        {{item.tenLoai}}
                                    </td>
                                    <td class="text-center">
                                        {{item.tenHang}}
                                    </td>
                                    <td class="text-center">
                                        <p-inputSwitch [(ngModel)]="item.trangThai"
                                            (ngModelChange)="trangThai(item)"></p-inputSwitch>
                                    </td>
                                    <td>
                                        <div class="btn-group dropdown">
                                            <button
                                                class="table-action-btn dropdown-toggle arrow-none btn btn-primary btn-xs"
                                                data-bs-toggle="dropdown" aria-expanded="false"><i
                                                    class="mdi mdi-dots-vertical"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end drop-action">
                                                <button class="dropdown-item"
                                                    [routerLink]="['/sanpham/anhsanpham', item.id]"><i
                                                        class="mdi dripicons-photo-group me-2 text-muted vertical-middle"></i>Ảnh</button>
                                                <button class="dropdown-item"
                                                    [routerLink]="['/sanpham/thongsosanpham', item.id]"><i
                                                        class="mdi  dripicons-view-list me-2 text-muted vertical-middle"></i>Thông
                                                    số</button>
                                                <button class="dropdown-item" (click)="showDetail(item.id)"
                                                    data-bs-toggle="modal" data-bs-target="#full-width-modal"><i
                                                        class="mdi mdi-eye me-2 text-muted vertical-middle"></i>Xem</button>
                                                <button class="dropdown-item" (click)="editModal(item)"><i
                                                        class="mdi mdi-square-edit-outline me-2 text-muted vertical-middle"></i>Sửa</button>
                                                <button class="dropdown-item" (click)="delete(item)"><i
                                                        class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Xóa</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="products-datatable_info" role="status"
                                    aria-live="polite">
                                    Hiển thị từ {{ getStartIndex() }} đến {{ getEndIndex() }} của {{
                                    sanphamList?.totalItems }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="products-datatable_paginate">
                                    <ul class="pagination pagination-rounded">
                                        <li class="paginate_button page-item previous"
                                            [class.disabled]="currentPage === 1" (click)="onPreviousPage()">
                                            <a class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                        </li>
                                        <li *ngFor="let page of getPageNumbers()" class="paginate_button page-item"
                                            style="cursor: pointer;" [ngClass]="{'active': currentPage === page}"
                                            (click)="onPageChange(page)">
                                            <a class="page-link">{{ page }}</a>
                                        </li>
                                        <li class="paginate_button page-item next" id="products-datatable_next"
                                            (click)="onNextPage()">
                                            <a class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [header]="title" [(visible)]="visible" position="top" [style]="{ 'width': '85vw', 'height': '650px' }"
    [draggable]="false">

    <ng-template pTemplate="content">
        <div class="row">
            <div class="mb-xl-2 col-md-4">
                <label for="tenSanPham" class="form-label">Tên sản phẩm <a class="text-danger">(*)</a></label>
                <input type="text" id="tenSanPham" [(ngModel)]="sanpham.tenSanPham" class="form-control"
                    autocomplete="off">
                <small class="p-error" *ngIf="submitted && !sanpham.tenSanPham">Không được để trống</small>
            </div>
            <div class="mb-2 col-md-4">
                <label for="giaBan" class="form-label">Giá bán <a class="text-danger">(*)</a></label>
                <input type="number" min="0" id="giaBan" [(ngModel)]="sanpham.giaBan" class="form-control"
                    autocomplete="off">
                <small class="p-error" *ngIf="submitted && !sanpham.giaBan">Không được để trống</small>
            </div>
            <div class="mb-2 col-md-4">
                <label for="giamGia" class="form-label">Giảm giá</label>
                <input type="number" min="0" id="giamGia" [(ngModel)]="sanpham.giamGia" class="form-control"
                    autocomplete="off">
            </div>
        </div>
        <div class="row">
            <div class="mb-2 col-md-4">
                <label for="baoHanh" class="form-label">Bảo hành</label>
                <input type="text" min="0" id="baoHanh" [(ngModel)]="sanpham.baoHang" class="form-control"
                    autocomplete="off">
                <small class="p-error" *ngIf="submitted && !sanpham.baoHang">Không được để trống</small>
            </div>
            <div class="mb-2 col-md-4">
                <label for="tenLoai" class="form-label">Loại sản phẩm <a class="text-danger">(*)</a></label>
                <select class="form-select" id="example-select" [(ngModel)]="sanpham.loaiSanPhamId">
                    <option *ngFor="let item of loai" [value]="item.id">{{ item.name }}</option>
                </select>
            </div>
            <div class="mb-2 col-md-4">
                <label for="tenLoai" class="form-label">Hãng sản phẩm <a class="text-danger">(*)</a></label>
                <select class="form-select" id="example-select" [(ngModel)]="sanpham.hangSanPhamId">
                    <option *ngFor="let item of hang" [value]="item.id">{{ item.name }}</option>
                </select>
            </div>
        </div>
        <div class="mb-2">
            <label for="tenLoai" class="form-label">Mô tả sản phẩm </label>
            <p-editor [(ngModel)]="sanpham.moTa" [style]="{ height: '180px' }"></p-editor>
            <small class="p-error" *ngIf="submitted && !sanpham.moTa">Không được để trống</small>
        </div>
        <div class="row mb-2">
            <div class="mb-2 col-md-6">
                <label for="tenLoai" class="form-label">Ảnh đại diện <a class="text-danger">(*)</a></label>
                <input type="file" class="form-control" (change)="onFileOnly($event)">
                <div class="row mt-2">
                    <div class="col">
                        <img style="height: 100px; border-radius: 5px;"
                            src="{{baseUrl}}Uploads/Products/{{fileOnly.name}}" alt="">
                    </div>
                </div>
            </div>
            <div class="mb-2 col-md-6">
                <label for="tenLoai" class="form-label">Ảnh chi tiết</label>
                <input type="file" class="form-control" multiple (change)="onFilesArray($event)">
                <div class="row">
                    <div class="col mt-2" *ngFor="let item of selectedFiles">
                        <img style="height: 100px; margin-right: 2px; border-radius: 5px;"
                            src="{{baseUrl}}Uploads/Products/{{item.name}}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="row mb-3" *ngFor="let row of productParameters; let i = index">
                <div class="col-md-4">
                    <label class="form-label">Thông số sản phẩm {{i + 1}}</label>
                </div>
                <div class="col-md-8">
                    <div class="text-sm-end">
                        <button type="button" class="btn btn-danger mb-2" (click)="removeRowParameter(i)">
                            <i class="mdi mdi-delete me-2"></i>Xóa thông số {{ i + 1 }}</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="thongso{{i}}" class="form-label">Tên thông số <a class="text-danger">(*)</a></label>
                    <input type="text" id="thongso{{i}}" [(ngModel)]="row.tenThongSo" class="form-control"
                        autocomplete="off">
                </div>
                <div class="col-md-6">
                    <label for="moTa" class="form-label">Mô tả <a class="text-danger">(*)</a></label>
                    <input type="text" id="moTa" [(ngModel)]="row.moTa" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="mb-2 text-sm-end">
                <button style="width: 100%;" type="button" class="btn btn-primary" (click)="addRowParameter()">
                    <i class="mdi mdi-plus-circle me-2"></i>Thêm thông số sản phẩm</button>
            </div>
        </div>

        <div class="mb-3">
            <label for="trangThai" class="form-label">Trạng thái <a class="text-danger">(*)</a></label>
            <br>
            <p-inputSwitch [(ngModel)]="sanpham.trangThai"></p-inputSwitch>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-light" (click)="closeDialog()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ Save }}</button>
    </ng-template>
</p-dialog>

<!-- Xem chi tiết của sản phẩm -->
<div id="full-width-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fullWidthModalLabel">Chi tiết sản phẩm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card"
                            style="box-shadow:  1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions"
                                            [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5"
                                            [activeIndex]="activeIndex">
                                            <ng-template pTemplate="item" let-item>
                                                <img src="{{baseUrl}}/Uploads/Products/{{item.image}}" width="100%"
                                                    height="435px" />
                                            </ng-template>
                                            <ng-template pTemplate="thumbnail" let-item>
                                                <div style="height: 80px;"
                                                    class="grid grid-nogutter justify-content-center">
                                                    <img width="100%" height="70px"
                                                        [src]="baseUrl + '/Uploads/Products/' + item.image" />
                                                </div>
                                            </ng-template>
                                        </p-galleria>
                                    </div> <!-- end col -->
                                    <div class="col-lg-7">
                                        <form class="ps-lg-4">
                                            <!-- Product title -->
                                            <h3 class="mt-0">{{ spDetail.tenSanPham }} <a href="javascript: void(0);"
                                                    class="text-muted"><i
                                                        class="mdi mdi-square-edit-outline ms-2"></i></a> </h3>
                                            <div class="mt-4">
                                                <h3>{{ spDetail.giaBan | number }}</h3>
                                            </div>

                                            <!-- Quantity -->
                                            <div class="mt-3">
                                                <h6 class="font-14">Số lượng</h6>
                                                <input type="number" min="1" value="1" class="form-control"
                                                    placeholder="Qty" style="width: 90px;">
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-xl-6">
                                                    <button type="button" style="width: 100%; color: #fff;"
                                                        class="btn btn-warning ms-2"><i class="mdi mdi-cart me-1"></i>
                                                        Thêm vào giỏ hàng</button>
                                                </div>
                                                <div class="col-xl-6">
                                                    <button type="button" style="width: 100%;"
                                                        class="btn btn-danger ms-2"><i class="mdi mdi-cart me-1"></i>
                                                        Mua ngay</button>
                                                </div>
                                            </div>

                                            <div class="mt-1">
                                                <button type="button" style="width: 100%;" class="btn btn-primary ms-2">
                                                    Trả góp 0%</button>
                                            </div>
                                            <!-- Product description -->
                                            <div class="mt-2">
                                                <div class="box-more-promotion my-3">
                                                    <div class="box-more-promotion-title has-text-black has-text-weight-semibold"
                                                        style="font-weight: 700; color: black;">
                                                        ƯU ĐÃI
                                                        THÊM</div>
                                                    <div class="render-promotion">
                                                        <ul>
                                                            <li class="item-promotion"><span><a
                                                                        target="_blank"><span>Giảm thêm tới 5% cho
                                                                            thành viên Smember (áp
                                                                            dụng tùy sản phẩm)</span></a></span></li>
                                                            <li class="item-promotion">
                                                                <a><img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:0/q:80/plain/https://cellphones.com.vn/media/wysiwyg/Logo/logo_momo_1.png"
                                                                        loading="lazy">&nbsp;Giảm thêm 2% tối đa
                                                                    800.000đ khi thanh toán qua
                                                                    Momo</a>
                                                            </li>
                                                            <li class="item-promotion"><img
                                                                    src="https://cdn2.cellphones.com.vn/insecure/rs:fill:40:0/q:80/plain/https://cellphones.com.vn/media/wysiwyg/DUMT_ZV0.png"
                                                                    width="40" alt="Kredivo" loading="lazy"
                                                                    title="Kredivo">&nbsp;<a target="_blank">Giảm thêm
                                                                    5% tối đa 200.000đ khi thanh toán qua
                                                                    Krediv</a></li>
                                                            <li class="item-promotion"><img
                                                                    src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:0/q:80/plain/https://cellphones.com.vn/media/wysiwyg/Icon/fundiin.png"
                                                                    loading="lazy">&nbsp;<a>Giảm thêm 6% tối
                                                                    đa 150.000đ khi thanh toán qua&nbsp;Fundiin</a></li>
                                                            <li class="item-promotion"><img
                                                                    src="https://cdn2.cellphones.com.vn/insecure/rs:fill:40:0/q:80/plain/https://cellphones.com.vn/media/wysiwyg/home-pay-later_1.png"
                                                                    width="40" alt="Home Paylater"
                                                                    loading="lazy">&nbsp;<a target="_blank">Giảm đến
                                                                    400k cho đơn hàng từ 1.1 triệu qua Home
                                                                    Paylater</a></li>
                                                            <li class="item-promotion"><a target="_blank"></a><a
                                                                    target="_blank">B2B - Ưu
                                                                    đãi tốt hơn cho khách hàng doanh nghiệp, trường
                                                                    học,... khi mua số lượng nhiều</a></li>
                                                        </ul>
                                                        <div id="eJOY__extension_root"
                                                            class="eJOY__extension_root_class"></div>
                                                        <div id="gtx-trans"
                                                            style="position: absolute; left: 29px; top: 109px;">
                                                            <div class="gtx-trans-icon"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Product information -->
                                            <div class="mt-4">

                                            </div>

                                        </form>
                                    </div> <!-- end col -->
                                </div> <!-- end row-->

                                <div class="row">
                                    <div class="col-xl-8">
                                        <div class="block-content-product-left"><!---->
                                            <div class="cps-block-content">
                                                <div class="ksp-content p-2 mb-2">
                                                    <p [innerHTML]="spDetail.moTa"></p>
                                                </div>
                                                <div class="cps-block-content_btn-showmore">
                                                    <a class="btn-show-more button__content-show-more">Thu gọn </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="cps-block-technicalInfo mb-3 ml-3 px-3 pt-3 pb-1">
                                            <div class="is-flex is-justify-content-space-between is-align-items-center">
                                                <h2 class="title is-6 mb-3">Thông số kỹ thuật</h2> <!---->
                                            </div>
                                            <ul class="technical-content" style="padding-left: 0px !important">
                                                <li class="technical-content-item is-flex is-align-items-center is-justify-content-space-between p-2"
                                                    *ngFor="let item of thongSo">
                                                    <p>{{ item.tenThongSo }}</p>
                                                    <div>{{ item.moTa }}</div>
                                                </li>
                                            </ul> <button
                                                class="button button__show-modal-technical my-3 is-flex is-justify-content-center">
                                                Xem cấu hình chi tiết
                                            </button>
                                        </div>
                                    </div>
                                </div> <!-- end table-responsive-->

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px', }"></p-confirmDialog>