<div class="cps-order-page">
    <div class="cps-order-mobile">
        <div class="block-welcome-containter is-flex is-align-items-center">
            <div class="welcome-avatar"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-icon"></div>
            <div class="welcome-smember is-flex is-flex-direction-column"><!---->
                <p class="welcome-smember__name">{{name}}</p>
            </div>
        </div>
        <div class="bg-smember-fa"></div>
        <div class="block-homepage-menu">
            <div class="block-homepage-menu__content is-flex is-justify-content-space-around">
                <div class="content__item is-flex is-flex-direction-column is-align-items-center">
                    <p class="item__content title">{{chitietList?.totalItems }}</p>
                    <p class="item__content text">Đơn hàng</p>
                </div>
                <div class="content__item is-flex is-flex-direction-column is-align-items-center">
                    <p class="item__content title">
                        {{ totalAmount | number}}</p>
                    <p class="item__content text">Tổng tiền tích luỹ</p>
                </div>
            </div>
        </div>
        <div class="cps-container">
            <div class="block-order">
                <div class="block-sliding-order">
                    <div class="order-container gallery-thumbs">
                        <div class="thumbs-wrapper is-flex">
                            <div class="thumb-item" [ngClass]="{'swiper-slide-thumb-active': selectedStatus === null}"
                                (click)="filterByStatus('tatca')">Tất cả
                            </div>
                            <div class="thumb-item" [ngClass]="{'swiper-slide-thumb-active': selectedStatus === 0}"
                                (click)="filterByStatus(0)">Chờ xác nhận
                            </div>
                            <div class="thumb-item" [ngClass]="{'swiper-slide-thumb-active': selectedStatus === 1}"
                                (click)="filterByStatus(1)">Đã xác nhận
                            </div>
                            <div class="thumb-item" [ngClass]="{'swiper-slide-thumb-active': selectedStatus === 2}"
                                (click)="filterByStatus(2)">Đang vận chuyển
                            </div>
                            <div class="thumb-item" [ngClass]="{'swiper-slide-thumb-active': selectedStatus === 3}"
                                (click)="filterByStatus(3)">Đã giao hàng
                            </div>
                            <div class="thumb-item" [ngClass]="{'swiper-slide-thumb-active': selectedStatus === 4}"
                                (click)="filterByStatus(4)">Đã huỷ
                            </div>
                        </div>
                    </div>
                    <div id="listOrder" *ngIf="chitietList?.totalItems > 0" class="list-order-wrapper">
                        <div class="block-order-list">
                            <div class="block-order-item" *ngFor="let item of chitietList?.items">
                                <div class="order-item is-flex" *ngFor="let sp of item.chiTiet">
                                    <div class="order-item__img"><img src="{{baseUrl}}/Uploads/Products/{{sp.anhSP}}"
                                            alt="cps-product" loading="lazy"></div>
                                    <div class="order-item__info is-flex is-flex-direction-column">
                                        <div class="info__title button__order-detail">{{sp.tenSP}}
                                        </div>
                                        <div class="order-status shipped">Đã giao hàng
                                        </div>
                                        <div
                                            class="info__group is-flex is-justify-content-space-between is-flex-direction-column">
                                            <div class="price">{{sp.giaBan | number}}đ x {{sp.soLuong}}</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled" [class.disabled]="currentPage === 1"
                                    (click)="onPreviousPage()">
                                    <a class="page-link page-link-prev">
                                        <i class="icon-long-arrow-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active" *ngFor="let page of getPageNumbers()"
                                    style="cursor: pointer;" [ngClass]="{'active': currentPage === page}"
                                    (click)="onPageChange(page)">
                                    <a class="page-link">{{ page }}</a>
                                </li>
                                <li class="page-item" (click)="onNextPage()">
                                    <a class="page-link page-link-next">
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div id="listOrder" *ngIf="chitietList?.totalItems == 0" class="list-order-wrapper">
                        <div class="no-order mt-6">
                            <div class="no-info is-flex is-flex-direction-column is-align-items-center"><img
                                    src="assets/Profile/none_order.svg">
                                <p>Không có đơn hàng nào thỏa mãn!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>