<div class="mb-1"></div>
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container breadcrumb-container">
        <div class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đặt lại mật khẩu</li>
        </div>
    </div>
</nav>

<div class="login-page mt-3">
    <div class="container">
        <div class="form-box" style="box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="signin-tab-2">Đặt lại mật khẩu</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                        <div class="text-center">
                            <p>Nhập địa chỉ email tài khoản của bạn và chúng tôi sẽ gửi cho bạn một mật khẩu mới để đặt
                                lại mật khẩu của bạn.</p>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="accountEmail" [(ngModel)]="email" required
                                autocomplete="off" placeholder="Nhập địa chỉ email...">
                        </div>

                        <div class="form-footer">
                            <button (click)="onSubmit()" type="submit" class="btn btn-outline-primary-2">
                                <span>Đặt lại mật khẩu</span>
                            </button>
                        </div>
                        <div class="text-center">
                            <p>Bạn đã có tài khoản? <a [routerLink]="['/account']">Đăng nhập</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>