<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a routerLink="/">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a (click)="showDialog()" class="btn btn-info mb-2"><i class="mdi mdi-plus-circle me-2"></i>
                            Thêm mới</a>
                    </div>
                    <div class="col-sm-8">
                        <!-- <div class="text-sm-end">
                            <button type="button" class="btn btn-light mb-2 me-1">Nhập</button>
                            <button type="button" class="btn btn-light mb-2">Xuất</button>
                        </div> -->
                    </div>
                    <!-- end col -->
                </div>

                <div class="table-responsive">
                    <div id="products-datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="products-datatable_length">
                                    <label class="form-label">Hiển thị
                                        <select class="form-select form-select-sm ms-1 me-1"
                                            (change)="onPageSizeChange()" [(ngModel)]="selectedPageSize">
                                            <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div id="products-datatable_filter" class="dataTables_filter"><label>Tìm kiếm:
                                        <input type="search" class="form-control form-control-sm" placeholder="Tìm..."
                                            [(ngModel)]="key" (input)="onKeywordInput()"></label></div>
                            </div>
                        </div>
                        <div class="mb-1"></div>
                        <div *ngIf="showSkeleton">
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                        </div>

                        <table *ngIf="!showSkeleton" class="table table-centered w-100 dt-responsive nowrap"
                            id="products-datatable">
                            <thead class="table-light">
                                <tr>
                                    <th class="text-center">Tên quyền</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class="text-center" style="width: 150px">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of roleList?.items">
                                    <td class="text-center">{{item.tenRole}}</td>
                                    <td class="text-center">
                                        <p-inputSwitch [(ngModel)]="item.trangThai"
                                            (ngModelChange)="trangThai(item)"></p-inputSwitch>
                                    </td>
                                    <td class="table-action text-center">
                                        <!-- <a href="javascript:void(0);" class="action-icon"> <i
                                                class="mdi mdi-eye"></i></a> -->
                                        <a (click)="editModal(item)" class="action-icon"> <i
                                                class="mdi mdi-square-edit-outline"></i></a>
                                        <a (click)="delete(item)" class="action-icon"> <i
                                                class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="products-datatable_info" role="status"
                                    aria-live="polite">Hiển thị từ {{ getStartIndex() }} đến {{ getEndIndex() }} của {{
                                    roleList?.totalItems }}</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="products-datatable_paginate">
                                    <ul class="pagination pagination-rounded">
                                        <li class="paginate_button page-item previous"
                                            [class.disabled]="currentPage === 1" (click)="onPreviousPage()">
                                            <a class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                        </li>
                                        <li *ngFor="let page of getPageNumbers()" class="paginate_button page-item"
                                            style="cursor: pointer;" [ngClass]="{'active': currentPage === page}"
                                            (click)="onPageChange(page)">
                                            <a class="page-link">{{ page }}</a>
                                        </li>
                                        <li class="paginate_button page-item next" id="products-datatable_next"
                                            (click)="onNextPage()">
                                            <a class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [header]="title" [(visible)]="visible" position="top" [style]="{ width: '25vw' }" [draggable]="false">

    <ng-template pTemplate="content">
        <div class="mb-3">
            <label for="tenRole" class="form-label">Tên quyền </label>
            <input type="text" [(ngModel)]="role.tenRole" id="tenRole" class="form-control" autocomplete="off">
            <small class="p-error" *ngIf="submitted && !role.tenRole">Không được để trống</small>
        </div>
        <div class="mb-3">
            <label for="trangThai" class="form-label">Trạng thái </label>
            <br>
            <p-inputSwitch [(ngModel)]="role.trangThai"></p-inputSwitch>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-light" (click)="closeDialog()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ Save }}</button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px', }"></p-confirmDialog>