<div class="cps-user-info-page">
    <div class="cps-user-info-mobile"><!---->
        <div class="cps-container">
            <div class="user-info-avatar"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="avatar"
                    class="avatar-img"></div>
            <p class="user-info-avatar__name">06. Đỗ Đình Diệm</p>
            <div class="form__group">
                <div class="field">
                    <input id="name" type="text" disabled="disabled" class="group__item">
                    <label for="name" title="Họ và tên: 06. Đỗ Đình Diệm" data-title="Họ và tên:"></label>
                </div>
            </div>
            <div class="form__group">
                <div class="field">
                    <input id="email" type="text" disabled="disabled" class="group__item">
                    <label for="email" title="Email: dodinhdiem2802@gmail.com" data-title="Email:"></label>
                </div>
            </div>
            <div class="form__group">
                <input type="text" name="" disabled="disabled" placeholder="Giới tính: Nam" class="group__item"> <!---->
            </div>
            <div class="form__group">
                <input type="text" name="" disabled="disabled" placeholder="Số điện thoại: 0936849738"
                    class="group__item">
            </div>
            <div class="form__group">
                <input type="text" name="date" disabled="disabled" onfocus="(this.type='date')"
                    placeholder="Sinh nhật: 28/2/2002 " class="group__item" style="padding-right: 8px;">
            </div>
            <div class="form__group">
                <input type="text" name="" disabled="disabled" placeholder="Ngày tham gia Smember: 31/3/2022 "
                    class="group__item">
            </div>
            <div class="form__group">
                <input type="text" name="" disabled="disabled" placeholder="Tổng tiền tích lũy từ 01/01/2023: 0đ"
                    class="group__item">
            </div>
            <div class="form__group">
                <input type="text" name="" disabled="disabled" placeholder="Tổng tiền đã mua sắm: 8,340,000đ"
                    class="group__item">
            </div>
            <div class="form__group">
                <input type="text" name="" disabled="disabled" placeholder="Địa chỉ: Chưa có địa chỉ mặc định"
                    class="group__item" style="padding-right: 30px;">
            </div>
            <div class="form__group">
                <div class="group__item is-link button__change-password">Đổi mật khẩu
                </div>
            </div>
            <div class="btn-form__submit button__update-info">Cập nhật thông tin</div>
        </div>
    </div>
</div>