:host ::ng-deep {
    .textarea-comment {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        position: relative;
        width: 100%;
    }
    .textarea-comment .cps-ant-cmt {
        left: 10px;
        position: absolute;
        top: 10%;
        z-index: 1;
    }
    .textarea-comment .textarea {
        border: 0;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
        min-width: 0 !important;
        padding-left: 85px;
        width: calc(100% - 80px);
    }
    .textarea:not([rows]) {
        max-height: 40em;
        min-height: 8em;
    }
    .textarea {
        display: block;
        max-width: 100%;
        min-width: 100%;
        padding: calc(0.75em - 1px);
        resize: vertical;
    }
    .textarea-comment button {
        background-color: #d7000e;
        border: 0;
        border-radius: 8px;
        color: #fff;
        gap: 5px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
    }
    .button {
        background-color: #fff;
        border-color: #dbdbdb;
        border-width: 1px;
        color: #363636;
        cursor: pointer;
        justify-content: center;
        padding: calc(0.5em - 1px) 1em;
        text-align: center;
        white-space: nowrap;
    }
    .textarea-comment button .icon-paper-plane {
        align-items: center;
        display: flex;
        width: 1em;
    }
    .textarea-comment button .icon-paper-plane svg {
        fill: #fff;
        height: 1em;
    }
    .textarea-comment button .icon-paper-plane svg {
        fill: #fff;
        height: 1em;
    }
}
