<div class="mb-1"></div>
<div class="container-new">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container breadcrumb-container">
            <div class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
            </div>
        </div>
    </nav>

    <div class="page-content">
        <div class="container">
            <div [innerHTML]="contact.map | safe" id="map" class="mb-5 mt-3"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-box text-center">
                        <h3>Của hàng</h3>
                        <address>{{contact.duong}}, {{contact.thonXom}}, {{contact.xaPhuong}},
                            <br>{{contact.quanHuyen}},
                            {{contact.tinhThanhPho}}
                        </address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-box text-center">
                        <h3>Liên hệ</h3>
                        <div><a href="mailto:#">{{contact.email}}</a></div>
                        <div><a href="tel:#">(+84) {{contact.soDienThoai}}</a></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-box text-center">
                        <h3>Mạng xã hội</h3>

                        <div class="social-icons social-icons-color justify-content-center">
                            <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                    class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                    class="icon-twitter"></i></a>
                            <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                    class="icon-instagram"></i></a>
                            <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                                    class="icon-youtube"></i></a>
                            <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                                    class="icon-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="mt-3 mb-5 mt-md-1">
            <div class="touch-container row justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="text-center">
                        <h2 class="title mb-1">Liên lạc</h2>
                        <p class="lead text-primary">
                            Chúng tôi cộng tác với những thương hiệu và con người đầy tham vọng; chúng tôi muốn cùng
                            nhau xây dựng điều gì đó tuyệt vời.
                        </p>
                    </div>

                    <form action="#" class="contact-form mb-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cname" class="sr-only">Tên</label>
                                <input type="text" class="form-control" name="hoten" [(ngModel)]="feedback.hoTen"
                                    id="cname" placeholder="Tên *" readonly>
                            </div>

                            <div class="col-sm-6">
                                <label for="cemail" class="sr-only">Email</label>
                                <input type="email" class="form-control" name="email" id="cemail"
                                    [(ngModel)]="feedback.email" placeholder="Email *" readonly>
                            </div>
                        </div>

                        <label for="cmessage" class="sr-only">Tin nhắn</label>
                        <textarea class="form-control" [(ngModel)]="feedback.noiDung" name="noidung" cols="30" rows="4"
                            id="cmessage" required placeholder="Tin nhắn *"></textarea>

                        <div class="text-center">
                            <button (click)="onSubmit()" type="submit"
                                class="btn btn-outline-primary-2 btn-minwidth-sm">
                                <span>GỬI</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>