<div class="block-smeminfo-sliding">
    <div class="block-welcomeDesktop">
        <div class="welcome-avatarDesktop"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-icon"></div>
        <div class="welcome-smemberDesktop">
            <p class="welcome-smember__contentDesktop">Xin chào</p>
            <p class="welcome-smember__2nd-contentDesktop">06. Đỗ Đình Diệm</p>
            <div class="block-smember-info__box-content">
                <div class="mb-3"></div>
                <p class="block-smember-info__box-content_p">Bạn vui lòng chuyển khoản số tiền muốn nạp bằng cách quét
                    mã QR sau: </p>
                <div class="container-QR">
                    <div class="mb-2"></div>
                    <table class="table container-QR-table">
                        <tr>
                            <td class="text-center">
                                <div class="content-img">
                                    <img src="assets/MaQR/maQR.jpg" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="containerQR-text">
                                    <p class="containerQR-text-title">VIETTINBANK</p>
                                    <p class="containerQR-text-content">0796498503</p>
                                    <p class="containerQR-text-content">CN KCN Hải Dương - Hội Sở</p>

                                </div>
                                <p class="containerQR-text-content"><b>Chủ TK nhận tiền: </b>Đỗ Đình Diệm</p>
                                <p class="containerQR-text-content"><b>Nội dung CK bắt buộc là: </b>
                                    <span style="color: #D70018; font-weight: 700; font-size: 2rem;">ste280202</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p class="containerQR-text-content">(Trong đó <span
                            style="color: #D70018; font-weight: 700; font-size: 2rem;">ste280202</span> để
                        xác định tài khoản của bạn, Hệ thống sẽ cộng tiền vào tài khoản này của bạn)
                    </p>

                </div>
                <ul>
                    <li>
                        <p class="containerQR-text-content">
                            Phải nhập chính xác nội dung CK mà hệ thống đã hiển thị sẵn cho bạn, để được CỘNG TIỀN TỰ
                            ĐỘNG.
                        </p>
                    </li>
                    <li>
                        <p class="containerQR-text-content">
                            Trường hợp sau vài phút mà bạn không nhận được tiền vui lòng gọi tới số hotline <span
                                style="font-weight: 700; font-size: 2rem;">0796.498.503</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>