<div class="mb-1"></div>
<div class="container-new">
    <nav aria-label="breadcrumb" class=" mb-2">
        <div class="container breadcrumb-container">
            <div class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/product', sanPham?.loaiSanPhamId]">{{tenLoai}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{sanPham?.tenSanPham}}</li>
            </div>
        </div>
    </nav>

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <p-galleria [value]="Images" [circular]="true" [responsiveOptions]="responsiveOptions"
                            [numVisible]="8">
                            <ng-template pTemplate="item" let-item>
                                <img src="{{baseUrl}}/Uploads/Products/{{item.image}}" />
                            </ng-template>
                            <ng-template pTemplate="thumbnail" let-item>
                                <div class="grid grid-nogutter justify-content-center">
                                    <img style="height: 60px; width: 60px; border: 1px solid #d1d5db; border-radius: 5px;"
                                        src="{{baseUrl}}/Uploads/Products/{{item.image}}" />
                                </div>
                            </ng-template>
                        </p-galleria>
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{sanPham?.tenSanPham}}</h1>
                            <!-- End .product-title -->
                            <div class="mb-2"></div>

                            <div class="product-price">
                                <span class="new-price ml-2">{{sanPham?.giaBan - sanPham?.giamGia | number}}
                                </span>
                                <span class="old-price" style="font-size: 1.6rem;"
                                    *ngIf="sanPham?.giamGia > 0">{{sanPham?.giaBan | number}}</span>
                            </div>


                            <div class="details-filter-row details-row-size">
                                <label>Bảo hành: <span class="ml-2">{{sanPham?.baoHang}}</span></label>
                            </div>


                            <div class="details-filter-row details-row-size">
                                <label for="qty">Số lượng:</label>
                                <div class="product-details-quantity" style="margin-left: 10px;">
                                    <div class="input-group  input-spinner">
                                        <div class="input-group-prepend">
                                            <button style="min-width: 26px" class="btn btn-decrement btn-spinner"
                                                type="button" (click)="decrement()">
                                                <i class="icon-minus"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-append">
                                            <button style="min-width: 26px; margin-left: 20px;"
                                                class="btn btn-increment btn-spinner" type="button"
                                                (click)="increment()">
                                                <i class="icon-plus"></i>
                                            </button>
                                        </div>
                                        <input type="text" style="text-align: center" [value]="quantity" min="1"
                                            max="10" class="form-control " required="" placeholder="" />
                                    </div>
                                </div>

                                <span style="margin-left: 25px;">{{sanPham?.soLuongTon}} sản phẩm có sẵn</span>
                            </div><!-- End .details-filter-row -->
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="product-details-action product-action-dark"
                                        style="border-radius: 10px;">
                                        <a href="javascript:void(0)" (click)="addToCart(sanPham)" class="btn-product">
                                            <i class="pi pi-cart-plus mr-2" style="font-size: 1.6rem"></i><span>Thêm vào
                                                giỏ hàng</span></a>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="product-details-action product-action-dark"
                                        style="border-radius: 10px;">
                                        <a href="javascript:void(0)" (click)="addToCartBuyNow(sanPham)"
                                            class="btn-product"
                                            style="background: linear-gradient(#f52f32,#e11b1e); border-radius: 10px;">
                                            <i class="pi pi-shopping-cart mr-2" style="font-size: 1.6rem"></i><span>Mua
                                                ngay</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details-action product-action-dark" style="border-radius: 10px;">
                                <a href="#" class="btn-product"
                                    style="background: linear-gradient(180deg,#3a78d0,#277cea); border-radius: 10px;">
                                    <strong class="has-text-white">Trả góp 0%</strong>
                                </a>
                            </div>
                            <div class="box-more-promotion my-3">
                                <div class="box-more-promotion-title has-text-black has-text-weight-semibold">ƯU ĐÃI
                                    THÊM</div>
                                <div class="render-promotion">
                                    <ul>
                                        <li class="item-promotion"><span><a target="_blank"><span>Giảm thêm tới 5% cho
                                                        thành viên Smember (áp
                                                        dụng tùy sản phẩm)</span></a></span></li>
                                        <li class="item-promotion">
                                            <a><img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:0/q:80/plain/https://cellphones.com.vn/media/wysiwyg/Logo/logo_momo_1.png"
                                                    loading="lazy">&nbsp;Giảm thêm 2% tối đa 800.000đ khi thanh toán qua
                                                Momo</a>
                                        </li>
                                        <li class="item-promotion"><img
                                                src="https://cdn2.cellphones.com.vn/insecure/rs:fill:40:0/q:80/plain/https://cellphones.com.vn/media/wysiwyg/DUMT_ZV0.png"
                                                width="40" alt="Kredivo" loading="lazy" title="Kredivo">&nbsp;<a
                                                target="_blank">Giảm thêm 5% tối đa 200.000đ khi thanh toán qua
                                                Krediv</a></li>
                                        <li class="item-promotion"><img
                                                src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:0/q:80/plain/https://cellphones.com.vn/media/wysiwyg/Icon/fundiin.png"
                                                loading="lazy">&nbsp;<a>Giảm thêm 6% tối
                                                đa 150.000đ khi thanh toán qua&nbsp;Fundiin</a></li>
                                        <li class="item-promotion"><img
                                                src="https://cdn2.cellphones.com.vn/insecure/rs:fill:40:0/q:80/plain/https://cellphones.com.vn/media/wysiwyg/home-pay-later_1.png"
                                                width="40" alt="Home Paylater" loading="lazy">&nbsp;<a
                                                target="_blank">Giảm đến 400k cho đơn hàng từ 1.1 triệu qua Home
                                                Paylater</a></li>
                                        <li class="item-promotion"><a target="_blank"></a><a target="_blank">B2B - Ưu
                                                đãi tốt hơn cho khách hàng doanh nghiệp, trường
                                                học,... khi mua số lượng nhiều</a></li>
                                    </ul>
                                    <div id="eJOY__extension_root" class="eJOY__extension_root_class"></div>
                                    <div id="gtx-trans" style="position: absolute; left: 29px; top: 109px;">
                                        <div class="gtx-trans-icon"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details-footer">

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Chia sẻ:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                            class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <div class="block-content-product-left"><!---->
                        <div class="cps-block-content">
                            <div class="ksp-content p-2 mb-2">
                                <p [innerHTML]="displayedContent"></p>
                            </div>
                            <div class="cps-block-content_btn-showmore">
                                <a *ngIf="showMoreLessButton" (click)="toggleContent()"
                                    class="btn-show-more button__content-show-more">
                                    {{ isContentExpanded ? 'Thu gọn' : 'Xem thêm' }} </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="cps-block-technicalInfo mb-3 ml-3 px-3 pt-3 pb-1">
                        <div class="is-flex is-justify-content-space-between is-align-items-center">
                            <h2 class="title is-6 mb-3">Thông số kỹ thuật</h2> <!---->
                        </div>
                        <ul class="technical-content">
                            <ng-container *ngFor="let item of thongSos; let i = index">
                                <li *ngIf="showDetail || i < 10"
                                    class="technical-content-item is-flex is-align-items-center is-justify-content-space-between p-2">
                                    <p>{{item.tenThongSo}}</p>
                                    <div>{{item.moTa}}</div>
                                </li>
                            </ng-container>
                        </ul>
                        <button *ngIf="thongSos.length > 10"
                            class="button button__show-modal-technical my-3 is-flex is-justify-content-center"
                            (click)="toggleDetail()">
                            {{ showDetail ? 'Ẩn chi tiết' : 'Xem cấu hình chi tiết' }}
                        </button>
                    </div>

                </div>
            </div>

            <div class="mb-2"></div>
            <h2 class="title text-center mb-4">Sản phẩm tương tự</h2>

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="top-all-tab">
                    <p-carousel [value]="sanPhams" [numVisible]="(sanPhams.length < 2) ? sanPhams.length : 5"
                        [numScroll]="1" [circular]="true" [autoplayInterval]="5000"
                        [responsiveOptions]="responsiveOptionsSimilar">
                        <ng-template let-item pTemplate="item">
                            <div class="border-1 surface-border border-round px-1">
                                <div class="product" [style.width.px]="(sanPhams.length < 5) ? 217 : null"
                                    style="min-height: 376px;">
                                    <figure class="product-media">
                                        <a [routerLink]="['/product-detail', item.id]">
                                            <img src="{{baseUrl}}/Uploads/Products/{{item.avatar}}" alt="Product image"
                                                class="product-image">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                                title="Yêu thích"><span>Yêu
                                                    thích</span></a>
                                        </div>
                                        <div class="product-action product-action-dark">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>Thêm vào
                                                    giỏ hàng</span></a>
                                        </div>
                                    </figure>

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a [routerLink]="['/product', item.loaiSanPhamId]">{{item.tenLoai}}</a>
                                        </div>
                                        <h3 class="product-title">
                                            <a [routerLink]="['/product-detail', item.id]">{{item.tenSanPham}}</a>
                                        </h3>
                                        <div class="product-price">
                                            <span class="new-price">{{item.giaBan - item.giamGia | number}}
                                                <small>đ</small></span>
                                            <span class="old-price" *ngIf="item.giamGia > 0">{{item.giaBan |
                                                number}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>

        </div>
    </div>
</div>

<p-toast></p-toast>