<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a routerLink="/">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tintuc">Tin tức</a>
                    </li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <!-- <button (click)="showDialog()" class="btn btn-primary mb-2 me-2"><i
                                class="mdi mdi-plus-circle me-2"></i>
                            Thêm mới</button> -->
                        <button [routerLink]="['/tintuc']" class="btn btn-light mb-2"><i
                                class="mdi  dripicons-return"></i>
                            Quay lại</button>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <!-- <button type="button" class="btn btn-light mb-2 me-1">Nhập</button>
                            <button type="button" class="btn btn-light mb-2">Xuất</button> -->
                        </div>
                    </div>
                    <!-- end col -->
                </div>

                <div class="table-responsive">
                    <div id="products-datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="products-datatable_length">
                                    <label class="form-label">Hiển thị
                                        <select class="form-select form-select-sm ms-1 me-1"
                                            (change)="onPageSizeChange()" [(ngModel)]="selectedPageSize">
                                            <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <!-- <div id="products-datatable_filter" class="dataTables_filter"><label>Tìm kiếm:<input
                                            type="search" class="form-control form-control-sm" placeholder=""
                                            aria-controls="products-datatable"></label></div> -->
                            </div>
                        </div>
                        <div class="mb-1"></div>
                        <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">

                            <thead class="table-light">
                                <tr>
                                    <th class="text-center">Tin tức</th>
                                    <th class="text-center">Tên hiển thị</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Nội dung</th>
                                    <th class="text-center">Người Comment</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class="text-center" style="width: 150px">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of binhLuanList?.items">
                                    <td class="text-center" style="width: 250px">{{item.tenTinTuc}}</td>
                                    <td class="text-center">{{item.hoTen}}</td>
                                    <td class="text-center">{{item.email}}</td>
                                    <td class="text-center">{{item.noiDung}}</td>
                                    <td class="text-center">{{item.userComment}}</td>
                                    <td class="text-center">
                                        <p-inputSwitch [(ngModel)]="item.trangThai"
                                            (ngModelChange)="trangThai(item)"></p-inputSwitch>
                                    </td>
                                    <td class="table-action text-center">
                                        <a (click)="editModal(item)" class="action-icon"> <i
                                                class="mdi mdi-eye"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="products-datatable_info" role="status"
                                    aria-live="polite">Hiển thị từ {{ getStartIndex() }} đến {{ getEndIndex() }} của {{
                                    binhLuanList?.totalItems }}</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="products-datatable_paginate">
                                    <ul class="pagination pagination-rounded">
                                        <li class="paginate_button page-item previous"
                                            [class.disabled]="currentPage === 1" (click)="onPreviousPage()">
                                            <a class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                        </li>
                                        <li *ngFor="let page of getPageNumbers()" class="paginate_button page-item"
                                            style="cursor: pointer;" [ngClass]="{'active': currentPage === page}"
                                            (click)="onPageChange(page)">
                                            <a class="page-link">{{ page }}</a>
                                        </li>
                                        <li class="paginate_button page-item next" id="products-datatable_next"
                                            (click)="onNextPage()">
                                            <a class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [header]="title" [(visible)]="visible" position="top" [style]="{ width: '65vw', 'height': '650px'}"
    [draggable]="false">
    <hr>
    <ng-template pTemplate="content">
        <div class="card" style="box-shadow:  1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);">
            <div class="card-body pb-1">
                <div class="mt-3">
                    <div class="d-flex">
                        <img class="me-2 rounded" src="assets/imageUser/user_2.png" alt="Generic placeholder image"
                            height="32">
                        <!-- <img *ngIf="binhLuan.avatar" class="me-2 rounded"
                            src="{{baseUrl}}/Uploads/Clients/{{binhLuan.avatar}}" alt="Generic placeholder image"
                            height="32"> -->
                        <div style="width: 100%;">
                            <h5 class="m-0">{{binhLuan.hoTen}} </h5>
                            <p class="text-muted mb-0"><small>{{getTimeAgo(binhLuan.createdAt)}}</small></p>

                            <p class="my-1">{{binhLuan.noiDung}}</p>

                            <div>
                                <a href="javascript:void(0);" class="btn btn-sm btn-link text-muted p-0 ps-2"
                                    (click)="toggleCommentBox(binhLuan.id)">
                                    <i class='uil uil-comments-alt me-1'></i> Trả lời
                                </a>
                            </div>
                            <div class="tab-content" *ngIf="isCommentBoxVisible">
                                <div class="tab-pane show active p-3" id="newpost">
                                    <div class="border rounded">
                                        <form action="#" class="comment-area-box">
                                            <textarea rows="3" [(ngModel)]="phanhoi.noiDung" name="text"
                                                class="form-control border-0 resize-none"
                                                placeholder="Viết phản hồi...."></textarea>
                                            <div class="p-2 bg-light flex justify-content-between align-items-center">
                                                <button type="submit" class="btn btn-secondary me-2"
                                                    (click)="closeCommentBox()">Hủy</button>
                                                <button type="submit" class="btn btn-sm btn-success"
                                                    (click)="onSubmit()"><i
                                                        class='uil uil-message me-1'></i>Gửi</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex mt-3" *ngFor="let item of phanHoiList">
                                <img *ngIf="!item.avatar" class="me-2 rounded" src="assets/imageUser/user_2.png" alt=""
                                    height="32">
                                <img *ngIf="item.avatar" class="me-2 rounded"
                                    src="{{baseUrl}}/Uploads/Staffs/{{item.avatar}}" alt="" height="32">
                                <div>
                                    <h5 class="m-0">{{item.hoTen}} </h5>
                                    <p class="text-muted mb-0"><small>{{getTimeAgo(item.createdAt)}}</small></p>

                                    <p class="my-1">{{item.noiDung}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>



                </div>
            </div> <!-- end card-body -->
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-light" (click)="closeDialog()">Đóng</button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>