<div class="mb-1"></div>
<div class="container-new">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container breadcrumb-container">
            <div class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
            </div>
        </div>
    </nav>

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Chi tiết thanh toán</h2>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="hoTen">Họ tên *</label>
                                    <input type="text" [(ngModel)]="khachhang.hoTen" name="hoTen" class="form-control"
                                        required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label for="soDienThoai">Số điện thoại *</label>
                                    <input type="number" [(ngModel)]="khachhang.soDienThoai" name="soDienThoai"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="diaChi">Địa chỉ *</label>
                                <input type="text" [(ngModel)]="khachhang.diaChi" name="diaChi" class="form-control"
                                    required>
                            </div>

                            <div class="mb-3">
                                <label for="ghiChu">Ghi chú đơn hàng (tùy chọn)</label>
                                <textarea class="form-control" cols="30" rows="4" [(ngModel)]="hoadon.ghiChu"
                                    name="ghiChu"
                                    placeholder="Ghi chú về đơn đặt hàng của bạn, ví dụ: ghi chú đặc biệt khi giao hàng"></textarea>
                            </div>
                        </div>
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Đơn hàng của bạn</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Tổng</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let item of cartItems">
                                            <td><a [routerLink]="['/product-detail', item.id]">{{item.tenSanPham}}<b>
                                                        x{{item.soLuong}}</b></a></td>
                                            <td>{{ calculateSubtotal(item) | number }}</td>
                                        </tr>

                                        <tr class="summary-subtotal">
                                            <td>Tổng phụ:</td>
                                            <td>{{ totalPrice | number }}</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Vận chuyển:</td>
                                            <td>Miễn phí vận chuyển</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Tổng:</td>
                                            <td>{{ totalPrice | number }}</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title input-radio">
                                                <input type="radio" id="vnpay" name="paymentMethod"
                                                    (change)="selectPaymentMethod('vnpay')"
                                                    [checked]="selectedPaymentMethod === 'vnpay'">
                                                <label style="font-size: 1.6rem;" class="ml-2" for="vnpay">Thanh toán
                                                    qua ví VNPAY</label>
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title input-radio">
                                                <input type="radio" id="home" name="paymentMethod"
                                                    (change)="selectPaymentMethod('cash')"
                                                    [checked]="selectedPaymentMethod === 'cash'">
                                                <label style="font-size: 1.6rem;" class="ml-2" for="home">Thanh toán khi
                                                    nhận hàng</label>
                                            </h2>
                                        </div>
                                    </div>

                                </div><!-- End .accordion -->

                                <button (click)="onSubmit()" type="submit"
                                    class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Đặt hàng</span>
                                    <span class="btn-hover-text">Tiến hành kiểm tra</span>
                                </button>
                            </div>
                        </aside>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>