<div class="authentication-bg">

    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">
                        <!-- Logo -->
                        <div class="card-header pt-4 pb-4 text-center bg-primary">
                            <a>
                                <span><img src="assets/logo/logo-white-lg.png" alt="" height="26"></span>
                            </a>
                        </div>
                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center pb-0 fw-bold">Đổi mật khẩu</h4>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Mật khẩu hiện tại</label>
                                <div class="input-group input-group-merge">
                                    <input [type]="passwordType" id="password1" [(ngModel)]="changePass.currentPassword"
                                        class="form-control" placeholder="Mật khẩu hiện tại">
                                    <div class="input-group-text" (click)="togglePasswordVisibility()"> <i class="mdi"
                                            [ngClass]="{' mdi-eye': passwordType === 'password',
                                            'mdi-eye-off': passwordType === 'text'}"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mật khẩu mới</label>
                                <div class="input-group input-group-merge">
                                    <input [type]="passwordType" id="password2" [(ngModel)]="changePass.newPassword"
                                        class="form-control" placeholder="Mật khẩu mới">
                                    <div class="input-group-text" (click)="togglePasswordVisibility()"> <i class="mdi"
                                            [ngClass]="{' mdi-eye': passwordType === 'password',
                                            'mdi-eye-off': passwordType === 'text'}"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Xác nhận lại mật khẩu</label>
                                <div class="input-group input-group-merge">
                                    <input [type]="passwordType" id="password3" [(ngModel)]="confirmNewPassword"
                                        class="form-control" placeholder="Xác nhận lại mật khẩu">
                                    <div class="input-group-text" (click)="togglePasswordVisibility()"> <i class="mdi"
                                            [ngClass]="{' mdi-eye': passwordType === 'password',
                                            'mdi-eye-off': passwordType === 'text'}"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mb-0 text-center">
                                <button class="btn btn-primary" (click)="onSubmit()" type="submit"> Đổi mật khẩu
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>