<div class="cps-rank-page"><!---->
    <div class="cps-smember-rank-desktop">
        <div class="block-welcome">
            <div class="block-welcome__box-content">
                <div class="welcome-avatar"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-icon"></div>
                <div class="welcome-smember">
                    <p class="welcome-smember__content" style="color: #fff;">Xin chào</p>
                    <p class="welcome-smember__2nd-content" style="color: #fff;">06. Đỗ Đình Diệm</p>
                </div>
            </div>
            <div class="bg-block-welcome"></div>
        </div>
        <div class="block-ranking-detail">
            <div class="block-ranking-detail__box-title">
                <div class="left-col">
                    <p>06. Đỗ Đình Diệm</p> <span>0đ</span>
                    <p class="little-text">(Điểm tích lũy từ 01/01/2023)</p>
                </div>
                <div class="right-col"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-img">
                    <p>S-Null</p>
                </div>
            </div>
            <div class="block-ranking-detail__box-content">
                <div class="ranking-process-bar">
                    <div class="ranking-process-outer">
                        <div class="ranking-process-inner" style="width: 0%;">
                            <span class="pointer"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-icon">
                                <div data-v-5170e23d="" class="cps-icon">
                                    <svg height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                        <path
                                            d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z">
                                        </path>
                                    </svg>
                                </div>
                            </span>
                        </div>
                        <span class="flagger">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADnSURBVHgB7dQ7CsJAFIXhMyGDBEUsLC1S2OgG3IVgLRYuwY34ALW2DhauwMcKxE5sAiJYJCIBQ5Q8xmhrBpKQBIT8zcDc4oPhMkBAk7mijmfKBgkn8gYVQ5OfjeoAMSIuUwun2yo0VnzcZcIwRBxMwNQ/fjABKURAlkH3aWBnetR3yAZja94kcUwAWfBm3AWxXy60q4moaYZ1QFTM8xgs00bUSqLYh+OMgmZpLEibN0gcI0Br7/8JyAJjgFSmtIMssC/IWDfonrsger25lSjtIW6OEx77VLOsCxIslWfMsRzLsRz7c+wNLD45oCEwMZoAAAAASUVORK5CYII="
                                alt="cps-flag"></span>
                    </div>
                </div>
                <div class="ranking-target-money">
                    <p>
                        Bạn cần mua thêm
                        <strong>3.000.000&nbsp;₫</strong>
                        để lên hạng
                        <span>S-New</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-5"><!----></div>
        <div class="block-condition-promotion">
            <div class="condition-promotion__title">ĐIỀU KIỆN VÀ ƯU ĐÃI CHO CÁC CẤP ĐỘ SMEMBER</div>
            <div class="smember__options is-flex is-justify-content-space-around">
                <div class="option__item activeSmember">
                    <div class="item-img"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-smember"
                            class="img"></div>
                    <div class="item-text">S-Null</div>
                </div>
                <div class="option__item">
                    <div class="item-img"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-smember"
                            class="img"></div>
                    <div class="item-text">S-New</div>
                </div>
                <div class="option__item">
                    <div class="item-img"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-smember"
                            class="img"></div>
                    <div class="item-text">S-Mem</div>
                </div>
                <div class="option__item">
                    <div class="item-img"><img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-smember"
                            class="img"></div>
                    <div class="item-text">S-Vip</div>
                </div>
            </div>
            <div class="condition-promotion__small-title is-flex is-align-items-center"><img
                    src="assets/Profile/wallet(3)_rank.2828526.png" alt="cps-icon" class="title__img">
                Điều kiện xếp hạng
            </div>
            <div class="condition-promotion__content">
                <div class="promotion-info__content">
                    <div class="content-container" style="">
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/wallet(3)_rank.2828526.png" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p>Tổng số tiền mua hàng tích luỹ trong năm nay và năm liền trước đạt từ 0 đến 3 triệu
                                    đồng, không tính đơn hàng doanh nghiệp B2B</p>
                            </div>
                        </div>
                    </div> <!----> <!----> <!---->
                </div>
                <div class="promotion-info__content"><!---->
                    <div class="content-container" style="display: none;">
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/wallet(3)_rank.2828526.png" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p>Tổng số tiền mua hàng tích luỹ trong năm nay và năm liền trước đạt từ 3 đến 15 triệu
                                    đồng, không tính đơn hàng doanh nghiệp B2B</p>
                            </div>
                        </div>
                    </div> <!----> <!---->
                </div>
                <div class="promotion-info__content"><!----> <!---->
                    <div class="content-container" style="display: none;">
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/wallet(3)_rank.2828526.png" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p>Tổng số tiền mua hàng tích luỹ trong năm nay và năm liền trước đạt từ 15 đến 50 triệu
                                    đồng, không tính đơn hàng doanh nghiệp B2B</p>
                            </div>
                        </div>
                    </div> <!---->
                </div>
                <div class="promotion-info__content"><!----> <!----> <!---->
                    <div class="content-container" style="display: none;">
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/wallet(3)_rank.2828526.png" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p>Tổng số tiền mua hàng tích luỹ trong năm nay và năm liền trước đạt từ 50 triệu đồng
                                    trở lên, không tính đơn hàng doanh nghiệp B2B</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="condition-promotion__small-title is-flex is-align-items-center"><img
                    src="assets/Profile/shopper_rank.d2ee3d8.png" alt="cps-icon" class="title__img">
                Ưu đãi mua hàng
            </div>
            <div class="condition-promotion__content">
                <div class="promotion-info__content">
                    <div class="content-container" style="">
                        <div class="content__item is-flex is-align-items-center"><!---->
                            <div data-v-5170e23d="" class="item__text">
                                <p>Hiện chưa có ưu đãi mua hàng đặc biệt cho hạng thành viên S-Null</p>
                            </div>
                        </div>
                    </div> <!----> <!----> <!---->
                </div>
                <div class="promotion-info__content"><!---->
                    <div class="content-container" style="display: none;">
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/tag1.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 2%</strong> khi mua các sản phẩm thuộc nhóm hàng loa - tai nghe
                                    dưới 1 triệu, sạc dự phòng, củ cáp, bao da, ốp lưng, balo - túi xách</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/tag1.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 1%</strong> khi mua các sản phẩm thuộc nhóm hàng phụ kiện còn lại
                                </p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/image11.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 5% (tối đa 100.000đ)</strong> khi sử dụng các dịch vụ sửa chữa tại
                                    Điện Thoại Vui</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/exchange_rank.webp" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 5% (tối đa 200.000đ)</strong> khi thực hiện thu cũ lên đời</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/gift-box_rank.webp" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p>Ưu đãi sinh nhật: Tặng phiếu mua hàng trị giá <strong>50.000đ</strong> (Code chỉ sử
                                    dụng 1 lần, áp dụng cho các đơn hàng (Trừ thẻ cào, sim, phí thu hộ, gói BHMR) có giá
                                    trị lớn gấp đôi giá trị code)</p>
                            </div>
                        </div>
                    </div> <!----> <!---->
                </div>
                <div class="promotion-info__content"><!----> <!---->
                    <div class="content-container" style="display: none;">
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/tag1.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 0.5%</strong> khi mua các sản phẩm máy (điện thoại, máy tính, máy
                                    tính bảng, Apple Watch)</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/tag1.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 3%</strong> khi mua các sản phẩm thuộc nhóm hàng phụ kiện loa - tai
                                    nghe dưới 1 triệu, sạc dự phòng, củ cáp, bao da, ốp lưng, balo - túi xách</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/tag1.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 2%</strong> khi mua các sản phẩm thuộc nhóm hàng phụ kiện còn lại
                                </p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/image11.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 5% (tối đa 200.000đ)</strong> khi sử dụng các dịch vụ sửa chữa tại
                                    Điện Thoại Vui</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/exchange_rank.webp" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 5% (tối đa 300.000đ)</strong> khi thực hiện thu cũ lên đời</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/gift-box_rank.webp" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p>Ưu đãi sinh nhật: Tặng phiếu mua hàng trị giá <strong>200.000đ</strong> (Code chỉ sử
                                    dụng 1 lần, áp dụng cho các đơn hàng (Trừ thẻ cào, sim, phí thu hộ, gói BHMR) có giá
                                    trị lớn gấp đôi giá trị code)</p>
                            </div>
                        </div>
                    </div> <!---->
                </div>
                <div class="promotion-info__content"><!----> <!----> <!---->
                    <div class="content-container" style="display: none;">
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/tag1.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 1%</strong> khi mua các sản phẩm máy (điện thoại, máy tính, máy
                                    tính bảng, Apple Watch)</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/tag1.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 5% </strong>khi mua các sản phẩm thuộc nhóm hàng phụ kiện loa - tai
                                    nghe dưới 1 triệu, sạc dự phòng, củ cáp, bao da, ốp lưng, balo - túi xách</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/tag1.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 3%</strong> khi mua các sản phẩm thuộc nhóm hàng phụ kiện còn lại
                                </p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img src="assets/Profile/image11.webp"
                                alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 5% (tối đa 300.000đ)</strong> khi sử dụng các dịch vụ sửa chữa tại
                                    Điện Thoại Vui</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/exchange_rank.webp" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p><strong>Giảm thêm 5% (tối đa 500.000đ)</strong> khi thực hiện thu cũ lên đời</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/gift-box_rank.webp" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p>Ưu đãi sinh nhật: Tặng phiếu mua hàng trị giá <strong>500.000đ</strong> (Code chỉ sử
                                    dụng 1 lần, áp dụng cho các đơn hàng (Trừ thẻ cào, sim, phí thu hộ, gói BHMR) có giá
                                    trị lớn gấp đôi giá trị code)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="condition-promotion__small-title is-flex is-align-items-center"><img
                    src="assets/Profile/customer_rank.f16fbaa.png" alt="cps-icon" class="title__img">
                Chính sách phục vụ
            </div>
            <div class="condition-promotion__content">
                <div class="promotion-info__content">
                    <div class="content-container" style="">
                        <div class="content__item is-flex is-align-items-center"><!---->
                            <div data-v-5170e23d="" class="item__text">
                                <p>Hiện chưa có chính sách ưu đãi phục vụ đặc biệt cho hạng thành viên S-Null</p>
                            </div>
                        </div>
                    </div> <!----> <!----> <!---->
                </div>
                <div class="promotion-info__content"><!---->
                    <div class="content-container" style="display: none;">
                        <div class="content__item is-flex is-align-items-center"><!---->
                            <div data-v-5170e23d="" class="item__text">
                                <p>Hiện chưa có chính sách ưu đãi phục vụ đặc biệt cho hạng thành viên S-New</p>
                            </div>
                        </div>
                    </div> <!----> <!---->
                </div>
                <div class="promotion-info__content"><!----> <!---->
                    <div class="content-container" style="display: none;">
                        <div class="content__item is-flex is-align-items-center"><!---->
                            <div data-v-5170e23d="" class="item__text">
                                <p>Hiện chưa có chính sách ưu đãi phục vụ đặc biệt cho hạng thành viên S-Mem</p>
                            </div>
                        </div>
                    </div> <!---->
                </div>
                <div class="promotion-info__content"><!----> <!----> <!---->
                    <div class="content-container" style="display: none;">
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/preorder_rank.webp" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p>Tham gia chương trình đặt trước sản phẩm không cần đặt cọc tiền</p>
                            </div>
                        </div>
                        <div class="content__item is-flex is-align-items-center"><img
                                src="assets/Profile/headphone_1_.webp" alt="cps-icon" class="item__img">
                            <div data-v-5170e23d="" class="item__text">
                                <p>Tổng đài hỗ trợ và chăm sóc đặc biệt 1800.2097</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>