<div class="mb-lg-2"></div>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="intro-slider-container slider-container-ratio mb-2" style="max-height: 350px;">
                <div class="intro-slider  owl-simple owl-nav-inside">
                    <p-galleria [value]="images" [showThumbnails]="false" [showItemNavigatorsOnHover]="true"
                        [showItemNavigators]="true" [circular]="true" [autoPlay]="true" [transitionInterval]="3000"
                        [responsiveOptions]="responsiveOptions">
                        <ng-template pTemplate="item" let-item>
                            <img src="{{baseUrl}}Uploads/Slides/{{item.anhSlide}}"
                                style="width: 100%; max-height: 350px; display: block; border-radius: 5px;" />
                        </ng-template>
                    </p-galleria>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ul class="nav nav-pills nav-border-anim nav-big justify-content-center mb-3" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="products-featured-link" data-toggle="tab" href="#products-featured-tab"
                role="tab" aria-controls="products-featured-tab" aria-selected="true">Mới</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="products-sale-link" data-toggle="tab" href="#products-sale-tab" role="tab"
                aria-controls="products-sale-tab" aria-selected="false">Bán chạy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="products-top-link" data-toggle="tab" href="#products-top-tab" role="tab"
                aria-controls="products-top-tab" aria-selected="false">Giảm giá</a>
        </li>
    </ul>

    <div class="tab-content tab-content-carousel">
        <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel"
            aria-labelledby="products-featured-link">
            <p-carousel [value]="sanPhamMoi" [numVisible]="(sanPhamMoi.length < 2) ? sanPhamMoi.length : 5"
                [numScroll]="1" [circular]="true" [autoplayInterval]="7000" [responsiveOptions]="responsiveOptions">
                <ng-template let-item pTemplate="item">
                    <div class="border-1 surface-border border-round px-1">
                        <div class="product" [style.width.px]="(sanPhamMoi.length < 5) ? 217 : null"
                            style="min-height: 376px;">
                            <figure class="product-media">
                                <a [routerLink]="['/product-detail', item.id]">
                                    <img src="{{baseUrl}}Uploads/Products/{{item.avatar}}" alt="Product image"
                                        class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                        title="Yêu thích"><span>Yêu
                                            thích</span></a>
                                </div>
                                <div class="product-action product-action-dark">
                                    <a href="javascript:void(0)" (click)="addToCart(item)" class="btn-product btn-cart"
                                        title="Add to cart"><span>Thêm vào giỏ
                                            hàng</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a [routerLink]="['/product', item.loaiSanPhamId]">{{item.tenLoai}}</a>
                                </div>
                                <h3 class="product-title">
                                    <a [routerLink]="['/product-detail', item.id]">{{item.tenSanPham}}</a>
                                </h3>
                                <div class="product-price">
                                    <span class="new-price">{{item.giaBan - item.giamGia | number}}
                                        <small>đ</small></span>
                                    <span class="old-price" *ngIf="item.giamGia > 0">{{item.giaBan | number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
        <div class="tab-pane p-0 fade" id="products-sale-tab" role="tabpanel" aria-labelledby="products-sale-link">
            <p-carousel [value]="sanPhamBanChay" [numVisible]="(sanPhamBanChay.length < 2) ? sanPhamBanChay.length : 5"
                [numScroll]="1" [circular]="true" [autoplayInterval]="7000" [responsiveOptions]="responsiveOptions">
                <ng-template let-item pTemplate="item">
                    <div class="border-1 surface-border border-round text-center px-1">
                        <div class="product" [style.width.px]="(sanPhamBanChay.length < 5) ? 217 : null"
                            style="min-height: 376px;">
                            <figure class="product-media">
                                <a [routerLink]="['/product-detail', item.id]">
                                    <img src="{{baseUrl}}Uploads/Products/{{item.avatar}}" alt="Product image"
                                        class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                        title="Yêu thích"><span>Yêu
                                            thích</span></a>
                                </div>
                                <div class="product-action product-action-dark">
                                    <a href="javascript:void(0)" (click)="addToCart(item)" class="btn-product btn-cart"
                                        title="Add to cart"><span>Thêm vào giỏ
                                            hàng</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a [routerLink]="['/product', item.loaiSanPhamId]">{{item.tenLoai}}</a>
                                </div>
                                <h3 class="product-title">
                                    <a [routerLink]="['/product-detail', item.id]">{{item.tenSanPham}}</a>
                                </h3>
                                <div class="product-price">
                                    <span class="new-price">{{item.giaBan - item.giamGia | number}}
                                        <small>đ</small></span>
                                    <span class="old-price" *ngIf="item.giamGia > 0">{{item.giaBan | number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div><!-- .End .tab-pane -->
        <div class="tab-pane p-0 fade" id="products-top-tab" role="tabpanel" aria-labelledby="products-top-link">
            <p-carousel [value]="sanPhamGiamGia" [numVisible]="(sanPhamGiamGia.length < 2) ? sanPhamGiamGia.length : 5"
                [numScroll]="1" [circular]="true" [autoplayInterval]="7000" [responsiveOptions]="responsiveOptions">
                <ng-template let-item pTemplate="item">
                    <div class="border-1 surface-border border-round px-1">
                        <div class="product" [style.width.px]="(sanPhamGiamGia.length < 5) ? 217 : null"
                            style="min-height: 376px;">
                            <figure class="product-media">
                                <a [routerLink]="['/product-detail', item.id]">
                                    <img src="{{baseUrl}}Uploads/Products/{{item.avatar}}" alt="Product image"
                                        class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                        title="Yêu thích"><span>Yêu
                                            thích</span></a>
                                </div>
                                <div class="product-action product-action-dark">
                                    <a href="javascript:void(0)" (click)="addToCart(item)" class="btn-product btn-cart"
                                        title="Add to cart"><span>Thêm vào giỏ
                                            hàng</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a [routerLink]="['/product', item.loaiSanPhamId]">{{item.tenLoai}}</a>
                                </div>
                                <h3 class="product-title">
                                    <a [routerLink]="['/product-detail', item.id]">{{item.tenSanPham}}</a>
                                </h3>
                                <div class="product-price">
                                    <span class="new-price">{{item.giaBan - item.giamGia | number}}
                                        <small>đ</small></span>
                                    <span class="old-price" *ngIf="item.giamGia > 0">{{item.giaBan | number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
<div class="container">
    <div class="cta cta-border cta-border-image mb-5 mb-lg-7"
        style="background-image: url(assets/Client/images/demos/demo-3/bg-1.jpg);">
        <div class="cta-border-wrapper bg-white">
            <div class="row justify-content-center">
                <div class="col-md-12 col-xl-12">
                    <div class="cta-content">
                        <div class="cta-heading">
                            <h3 class="cta-title text-right"><span class="text-primary">Ưu Đãi Mới</span> <br>Bắt Đầu
                                Mỗi Ngày vào lúc 12 giờ trưa</h3>
                        </div>

                        <div class="cta-text text-center">
                            <p>Nhận <span class="text-dark font-weight-normal">MIỄN PHÍ VẬN CHUYỂN & 5% hoàn
                                    tiền</span> cho <br>mỗi đơn hàng với chương trình hoàn tiền VNPay</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container top">
    <div class="heading heading-flex mb-3">
        <div class="heading-left">
            <h2 class="title">Điện Thoại</h2><!-- End .title -->
        </div><!-- End .heading-left -->

        <div class="heading-right">
        </div><!-- End .heading-right -->
    </div><!-- End .heading -->

    <div class="tab-content tab-content-carousel">
        <div class="tab-pane p-0 fade show active" id="top-all-tab">
            <p-carousel [value]="dienThoai" [numVisible]="(dienThoai.length < 2) ? dienThoai.length : 5" [numScroll]="1"
                [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template let-item pTemplate="item">
                    <div class="border-1 surface-border border-round px-1">
                        <div class="product" [style.width.px]="(dienThoai.length < 5) ? 217 : null"
                            style="min-height: 376px;">
                            <figure class="product-media">
                                <a [routerLink]="['/product-detail', item.id]">
                                    <img src="{{baseUrl}}Uploads/Products/{{item.avatar}}" alt="Product image"
                                        class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                        title="Yêu thích"><span>Yêu
                                            thích</span></a>
                                </div>
                                <div class="product-action product-action-dark">
                                    <a href="javascript:void(0)" (click)="addToCart(item)" class="btn-product btn-cart"
                                        title="Add to cart"><span>Thêm vào giỏ
                                            hàng</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a [routerLink]="['/product', item.loaiSanPhamId]">{{item.tenLoai}}</a>
                                </div>
                                <h3 class="product-title">
                                    <a [routerLink]="['/product-detail', item.id]">{{item.tenSanPham}}</a>
                                </h3>
                                <div class="product-price">
                                    <span class="new-price">{{item.giaBan - item.giamGia | number}}</span>
                                    <span class="old-price" *ngIf="item.giamGia > 0">{{item.giaBan | number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>

<div class="container top">
    <div class="heading heading-flex mb-3">
        <div class="heading-left">
            <h2 class="title">Laptop</h2>
        </div>

        <div class="heading-right">
        </div>
    </div>

    <div class="tab-content tab-content-carousel">
        <div class="tab-pane p-0 fade show active" id="top-all-tab">
            <p-carousel [value]="lapTop" [numVisible]="(lapTop.length < 2) ? lapTop.length : 5" [numScroll]="1"
                [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template let-item pTemplate="item">
                    <div class="border-1 surface-border border-round px-1">
                        <div class="product" [style.width.px]="(lapTop.length < 5) ? 217 : null"
                            style="min-height: 376px;">
                            <figure class="product-media">
                                <a [routerLink]="['/product-detail', item.id]">
                                    <img src="{{baseUrl}}Uploads/Products/{{item.avatar}}" alt="Product image"
                                        class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                        title="Yêu thích"><span>Yêu
                                            thích</span></a>
                                </div>
                                <div class="product-action product-action-dark">
                                    <a href="javascript:void(0)" (click)="addToCart(item)" class="btn-product btn-cart"
                                        title="Add to cart"><span>Thêm vào giỏ
                                            hàng</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a [routerLink]="['/product', item.loaiSanPhamId]">{{item.tenLoai}}</a>
                                </div>
                                <h3 class="product-title">
                                    <a [routerLink]="['/product-detail', item.id]">{{item.tenSanPham}}</a>
                                </h3>
                                <div class="product-price">
                                    <span class="new-price">{{item.giaBan - item.giamGia | number}}</span>
                                    <span class="old-price" *ngIf="item.giamGia > 0">{{item.giaBan | number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>

<div class="blog-posts pt-4 pb-7">
    <div class="container">
        <h2 class="title">Tin tức mới</h2>
        <p-carousel [value]="tinTuc" [numVisible]="(tinTuc.length < 2) ? tinTuc.length : 4" [numScroll]="1"
            [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
                <div class="border-1 surface-border border-round px-1">
                    <article class="entry" [style.width.px]="(tinTuc.length < 4) ? 277 : null">
                        <figure class="entry-media">
                            <a [routerLink]="['/blog-detail', item.id]">
                                <img src="{{baseUrl}}Uploads/News/{{item.anh}}" alt="image desc">
                            </a>
                        </figure>

                        <div class="entry-body">
                            <div class="entry-meta">
                                <a href="#">{{item.createdAt | date: 'dd/MM/yyyy h:mm a'}}</a>
                            </div>

                            <h3 class="entry-title">
                                <a [routerLink]="['/blog-detail', item.id]">{{item.tieuDe}}</a>
                            </h3>
                            <div class="entry-content">
                                <p [innerHTML]="item.noiDung | slice:0:120"></p>
                                <a [routerLink]="['/blog-detail', item.id]" class="read-more">xem thêm</a>
                            </div>
                        </div>
                    </article>
                </div>
            </ng-template>
        </p-carousel>

    </div>
</div>

<p-toast></p-toast>