<div class="cps-change-password-page">
    <div class="cps-change-password-mobile">
        <div class="top-nav-bar">
            <div class="navbar-container is-flex is-align-items-center"><!---->
                <div class="nav-bar__title mx-auto">Tạo mật khẩu mới</div>
            </div>
        </div>
        <div class="cps-container">
            <div class="cps-password__image has-text-centered">
                <img src="assets/Profile/Shipper_CPS3.77d4065.png" alt="cps-logo" class="img">
            </div>
            <div class="block-change-password">
                <div class="change-password__form">
                    <p class="form__notice">
                        Nhập mật khẩu hiện tại
                    </p>
                    <div class="form__group">
                        <div class="field">
                            <input id="password" name="password" [(ngModel)]="changePass.currentPassword"
                                type="password" required="required" class="group__item">
                            <label for="password" title="Nhập mật khẩu hiện tại của bạn"
                                data-title="Mật khẩu hiện tại"></label>
                        </div>
                    </div>
                </div>
                <div class="change-password__form">
                    <p class="form__notice">
                        Tạo mật khẩu mới
                    </p>
                    <div class="form__group">
                        <div class="field">
                            <input id="newPassword" name="newPassword" type="password"
                                [(ngModel)]="changePass.newPassword" required="required" value="" class="group__item"
                                aria-autocomplete="list">
                            <label for="newPassword" title="Nhập mật khẩu mới của bạn"
                                data-title="Mật khẩu mới"></label>
                            <p class="item__description">Mật khẩu tối thiểu 8 ký tự, có ít nhất 1 chữ in hoa, 1 số và 1
                                ký tự đặc biệt.</p>
                        </div>
                        <div class="field">
                            <input id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="confirmNewPassword"
                                type="password" required="required" value="" class="group__item">
                            <label for="confirmNewPassword" title="Xác nhận lại mật khẩu"
                                data-title="Xác nhận lại mật khẩu"></label>
                        </div>
                    </div>
                    <div class="btn-form__submit" (click)="onSubmit()">Xác nhận</div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>