<div class="mb-1"></div>
<div class="container-new">
    <nav aria-label="breadcrumb" class=" mb-2">
        <div class="container breadcrumb-container">
            <div class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{tenLSP}}</li>
            </div>
        </div>
    </nav>

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="toolbox">
                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Sắp xếp:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortby" class="form-control" (change)="onSapXepChange()"
                                        [(ngModel)]="sapxepSelects">
                                        <option *ngFor="let item of sapxep" [value]="item.value">{{ item.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="products">
                        <div class="row" *ngIf="sanPhams?.totalItems == 0">
                            <div class="col d-flex flex-column justify-content-center align-items-center">
                                <img src="assets/Profile/bookSearch.png" width="134px" alt="">
                                <p style="font-weight: 600; font-size: 1.8rem;">Không tìm thấy kết quả nào</p>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor="let item of sanPhams?.items" class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product">
                                    <figure class="product-media">
                                        <a [routerLink]="['/product-detail', item.id]">
                                            <img src="{{baseUrl}}/Uploads/Products/{{item.avatar}}" alt="Product image"
                                                class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                                title="Yêu thích"><span>Yêu thích</span></a>
                                        </div>
                                        <div class="product-action product-action-dark">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>Thêm vào
                                                    giỏ hàng</span></a>
                                        </div>
                                    </figure>
                                    <div class="product-body">
                                        <!-- End .product-cat -->
                                        <h3 class="product-title">
                                            <a [routerLink]="['/product-detail', item.id]">{{item.tenSanPham}}</a>
                                        </h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">{{item.giaBan - item.giamGia | number}}</span>
                                            <span class="old-price" *ngIf="item.giamGia > 0">{{item.giaBan |
                                                number}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <nav aria-label="Page navigation" *ngIf="sanPhams?.totalItems > pageSizes">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled" [class.disabled]="currentPage === 1"
                                    (click)="onPreviousPage()">
                                    <a class="page-link page-link-prev">
                                        <i class="icon-long-arrow-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active" *ngFor="let page of getPageNumbers()"
                                    style="cursor: pointer;" [ngClass]="{'active': currentPage === page}"
                                    (click)="onPageChange(page)">
                                    <a class="page-link">{{ page }}</a>
                                </li>
                                <li class="page-item" (click)="onNextPage()">
                                    <a class="page-link page-link-next">
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <aside class="col-lg-3 order-lg-first">
                    <div class="sidebar sidebar-shop">
                        <div class="widget widget-clean">
                            <label>Bộ lọc:</label>
                            <a href="javascript: void(0)" (click)="onResetMain()" class="sidebar-filter-clear">Xóa
                                hết</a>
                        </div>

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                    aria-controls="widget-1">
                                    Danh mục sản phẩm
                                </a>
                            </h3>

                            <div class="collapse show" id="widget-1">
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        <div class="filter-item" *ngFor="let item of loaiSanPham">
                                            <div class="custom-control " [routerLink]="['/product', item.id]"
                                                (click)="onReset()">
                                                <label for="cat-{{item.id}}"
                                                    [ngStyle]="{ 'color': id == item.id ? '#FCB941' : '', 'text-decoration': id == item.id ? 'underline' : 'none'  }">{{item.tenLoai}}</label>
                                            </div>
                                            <span class="item-count">{{item.countProduct}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                                    aria-controls="widget-4">
                                    Danh mục hãng sản phẩm
                                </a>
                            </h3>

                            <div class="collapse show" id="widget-4">
                                <div class="widget-body">
                                    <div class="filter-items">
                                        <div class="filter-item" *ngFor="let item of hangSanPham">
                                            <div class="custom-control custom-checkbox"
                                                (click)="onHangId(item.hangSanPhamId)">
                                                <label for="brand-1"
                                                    [ngStyle]="{ 'color': hangid == item.hangSanPhamId ? '#FCB941' : '', 'text-decoration': hangid == item.hangSanPhamId ? 'underline' : 'none'  }">{{item.tenHang}}</label>
                                            </div>
                                        </div>

                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
                                    aria-controls="widget-5">
                                    Giá
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-5">
                                <div class="widget-body">
                                    <div class="filter-price">
                                        <div class="filter-price-text">
                                            Khoảng giá: {{giaMin | number}} ~ {{giaMax | number}}
                                            <span id="filter-price-range"></span>
                                        </div>
                                        <p-slider [(ngModel)]="giaMax" [max]="giaRange"
                                            (onChange)="onSlide()"></p-slider>
                                    </div>
                                </div><!-- End .widget-body -->
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>