<div class="container">
    <hr class="mt-5 mb-0">
</div>

<div class="icon-boxes-container mt-2 mb-2 bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-rocket"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Miễn Phí Vận Chuyển</h3>
                        <p>Đơn hàng từ 1.500.000Đ trở lên</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-rotate-left"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Miễn Phí Đổi Trả</h3>
                        <p>Trong vòng 30 ngày</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-info-circle"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Giảm 20% cho 1 Sản Phẩm</h3>
                        <p>khi bạn đăng ký</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-life-ring"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Hỗ Trợ 24/7</h3>
                        <p>Dịch vụ tuyệt vời</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="cta cta-separator cta-border-image cta-half mb-0"
        style="background-image: url(assets/Client/images/demos/demo-3/bg-2.jpg);">
        <div class="cta-border-wrapper bg-white">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cta-wrapper cta-text text-center">
                        <h3 class="cta-title">Mua Sắm Xã Hội</h3>
                        <div class="mb-3"></div>

                        <div class="social-icons social-icons-colored justify-content-center">
                            <a href="javascript: void(0)" class="social-icon social-facebook" title="Facebook"
                                target="_blank"><i class="icon-facebook-f"></i></a>
                            <a href="javascript: void(0)" class="social-icon social-twitter" title="Twitter"
                                target="_blank"><i class="icon-twitter"></i></a>
                            <a href="javascript: void(0)" class="social-icon social-instagram" title="Instagram"
                                target="_blank"><i class="icon-instagram"></i></a>
                            <a href="javascript: void(0)" class="social-icon social-youtube" title="Youtube"
                                target="_blank"><i class="icon-youtube"></i></a>
                            <a href="javascript: void(0)" class="social-icon social-pinterest" title="Pinterest"
                                target="_blank"><i class="icon-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="cta-wrapper text-center">
                        <h3 class="cta-title">Nhận Các Ưu Đãi Mới Nhất</h3>
                        <p class="cta-desc">và <br>nhận <span class="text-primary">phiếu giảm giá 150.000Đ</span> cho
                            lần mua
                            hàng đầu tiên</p>
                        <form action="javascript: void(0)">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Nhập Địa Chỉ Email Của Bạn"
                                    aria-label="Email Adress" required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-rounded" type="submit"><i
                                            class="icon-long-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-middle border-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="widget widget-about">
                        <img src="assets/logo/logo-dark-lg.png" class="footer-logo" alt="Footer Logo" width="250px" />
                        <div class="mb-2"></div>

                        <div class="widget-about-info">
                            <div class="col-sm-12 col-md-12">
                                <h1 class="widget-about-title" style="font-weight: bold; font-size: 20px;">Tổng đài hỗ
                                    trợ <a>+84 796498503</a></h1>

                            </div>
                            <div class="mb-2"></div>
                            <div class="col-sm-12 col-md-12">
                                <span class="widget-about-title" style="font-weight: 600; font-size: 16px;">Phương thức
                                    thanh toán</span>
                                <figure class="footer-payments">
                                    <img src="assets/Client/images/payments.png" alt="Các phương thức thanh toán"
                                        width="272" height="20" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Liên kết hữu ích</h4>

                        <ul class="widget-list">
                            <li><a href="about.html">Về TechStore</a></li>
                            <li><a href="javascript: void(0)">Cách mua sắm trên TechStore</a></li>
                            <li><a href="faq.html">Câu hỏi thường gặp</a></li>
                            <li><a href="contact.html">Liên hệ chúng tôi</a></li>
                            <li><a href="login.html">Đăng nhập</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Dịch vụ khách hàng</h4>

                        <ul class="widget-list">
                            <li><a href="javascript: void(0)">Phương thức thanh toán</a></li>
                            <li><a href="javascript: void(0)">Bảo đảm hoàn tiền!</a></li>
                            <li><a href="javascript: void(0)">Đổi trả</a></li>
                            <li><a href="javascript: void(0)">Vận chuyển</a></li>
                            <li><a href="javascript: void(0)">Điều khoản và điều kiện</a></li>
                            <li><a href="javascript: void(0)">Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Tài khoản của tôi</h4>

                        <ul class="widget-list">
                            <li><a href="javascript: void(0)">Đăng nhập</a></li>
                            <li><a href="cart.html">Xem giỏ hàng</a></li>
                            <li><a href="javascript: void(0)">Danh sách mong muốn của tôi</a></li>
                            <li><a href="javascript: void(0)">Theo dõi đơn hàng của tôi</a></li>
                            <li><a href="javascript: void(0)">Trợ giúp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <p class="footer-copyright">
            </p>
            <div class="social-icons social-icons-color">
                <span class="social-label">Mạng xã hội</span>
                <a href="javascript: void(0)" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                        class="icon-facebook-f"></i></a>
                <a href="javascript: void(0)" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                        class="icon-twitter"></i></a>
                <a href="javascript: void(0)" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                        class="icon-instagram"></i></a>
                <a href="javascript: void(0)" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                        class="icon-youtube"></i></a>
                <a href="javascript: void(0)" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                        class="icon-pinterest"></i></a>
            </div>
        </div>
    </div>
</footer>