<footer class="footer">
    <!-- Kết thúc .cta -->
    <div class="footer-middle border-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="widget widget-about">
                        <img src="assets/logo/logo-dark-lg.png" class="footer-logo" alt="Footer Logo" width="250px" />
                        <div class="mb-2"></div>

                        <div class="widget-about-info">
                            <div class="col-sm-12 col-md-12">
                                <h1 class="widget-about-title" style="font-weight: bold; font-size: 20px;">Tổng đài hỗ
                                    trợ <a>+84 796498503</a></h1>

                            </div>
                            <div class="mb-2"></div>
                            <div class="col-sm-12 col-md-12">
                                <span class="widget-about-title" style="font-weight: 600; font-size: 16px;">Phương thức
                                    thanh toán</span>
                                <figure class="footer-payments">
                                    <img src="assets/Client/images/payments.png" alt="Các phương thức thanh toán"
                                        width="272" height="20" />
                                </figure>
                                <!-- Kết thúc .footer-payments -->
                            </div>
                            <!-- Kết thúc .row -->
                        </div>
                        <!-- Kết thúc .widget-about-info -->
                    </div>
                    <!-- Kết thúc .widget about-widget -->
                </div>
                <!-- Kết thúc .col-sm-12 col-lg-4 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Liên kết hữu ích</h4>
                        <!-- Kết thúc .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">Về TechStore</a></li>
                            <li><a href="#">Cách mua sắm trên TechStore</a></li>
                            <li><a href="faq.html">Câu hỏi thường gặp</a></li>
                            <li><a href="contact.html">Liên hệ chúng tôi</a></li>
                            <li><a href="login.html">Đăng nhập</a></li>
                        </ul>
                        <!-- Kết thúc .widget-list -->
                    </div>
                    <!-- Kết thúc .widget -->
                </div>
                <!-- Kết thúc .col-sm-4 col-lg-2 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Dịch vụ khách hàng</h4>
                        <!-- Kết thúc .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Bảo đảm hoàn tiền!</a></li>
                            <li><a href="#">Đổi trả</a></li>
                            <li><a href="#">Vận chuyển</a></li>
                            <li><a href="#">Điều khoản và điều kiện</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                        <!-- Kết thúc .widget-list -->
                    </div>
                    <!-- Kết thúc .widget -->
                </div>
                <!-- Kết thúc .col-sm-4 col-lg-2 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Tài khoản của tôi</h4>
                        <!-- Kết thúc .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Đăng nhập</a></li>
                            <li><a href="cart.html">Xem giỏ hàng</a></li>
                            <li><a href="#">Danh sách mong muốn của tôi</a></li>
                            <li><a href="#">Theo dõi đơn hàng của tôi</a></li>
                            <li><a href="#">Trợ giúp</a></li>
                        </ul>
                        <!-- Kết thúc .widget-list -->
                    </div>
                    <!-- Kết thúc .widget -->
                </div>
                <!-- Kết thúc .col-sm-4 col-lg-2 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget widget-newsletter">
                        <h4 class="widget-title">Đăng ký nhận tin</h4>

                        <form action="#">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Nhập địa chỉ Email của bạn"
                                    aria-label="Địa chỉ Email" required />
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="submit">
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div>
                                <!-- Kết thúc .input-group-append -->
                            </div>
                            <!-- Kết thúc .input-group -->
                        </form>
                    </div>
                    <!-- Kết thúc .widget -->
                </div>
                <!-- Kết thúc .col-sm-4 col-lg-2 -->
            </div>
            <!-- Kết thúc .row -->
        </div>
        <!-- Kết thúc .container-fluid -->
    </div>
    <!-- Kết thúc .footer-middle -->
    <div class="footer-bottom">
        <div class="container-fluid">
            <p class="footer-copyright">
                Bản quyền © 2024 Cửa hàng TechStore. Đã đăng ký Bản quyền.
            </p>
            <!-- Kết thúc .footer-copyright -->
            <div class="social-icons social-icons-color">
                <span class="social-label">Mạng xã hội</span>
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                        class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                        class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                        class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                        class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                        class="icon-pinterest"></i></a>
            </div>
            <!-- Kết thúc .soial-icons -->
        </div>
        <!-- Kết thúc .container-fluid -->
    </div>
    <!-- Kết thúc .footer-bottom -->
</footer>